<div id="todonkey-detail">
  <p>
    <span class="type"><%=base_todo.type.to_s%>:</span>
    <span><%=base_todo.detail%></span>
  </p>
  <div class="indent">
    <p class="italic"><%=base_todo.created_at%></p>
  </div>
  <hr/>
</div>